# tailwind config
tailwind.config.js

# prettier
!.prettierrc

# fauna-queries
fauna-queries

# scripts & utils (outside src)
scripts
utils
fql

# public
public

# nextjs
.next
.out

# node
node_modules